@model PBL3.Models.NguyenLieu

@{
    ViewData["Title"] = "Chi tiết nguyên liệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="NguyenLieus" asp-action="Index">Quản lí nguyên liệu</a>
            <span class="breadcrumb-item active">Chi tiết nguyên liệu</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td class="text-dark font-weight-semibold">#@Model.NguyenLieuId</td>
                    </tr>
                    <tr>
                        <td>Tên nguyên liệu:</td>
                        <td class="text-dark font-weight-semibold">@Model.TenNguyenLieu</td>
                    </tr>
                    <tr>
                        <td>Số lượng:</td>
                        <td class="text-dark font-weight-semibold">@Model.SoLuong</td>
                    </tr>
                    <tr>
                        <td>Giá:</td>
                        @if (Model.Gia != null)
                        {
                            <td class="text-dark font-weight-semibold">@Model.Gia.Value.ToString("#,##0") VNĐ</td>
                        }
                        else
                        {
                            <td class="text-dark font-weight-semibold"></td>
                        }
                    </tr>
                    <tr>
                        <td>Đơn vị tính:</td>
                        <td class="text-dark font-weight-semibold">@Model.DonViTinh</td>
                    </tr>
                    <tr>
                        <td>Nhà cung cấp:</td>
                        @if (Model.NhaCungCap != null)
                        {
                            <td class="text-dark font-weight-semibold">@Model.NhaCungCap.TenNhaCungCap</td>
                        }
                        else
                        {
                            <td class="text-dark font-weight-semibold"></td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

