@model IEnumerable<PBL3.Models.NhanVien>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h1 class="text-center my-4">Danh Sách Nhân Viên</h1>
    
    <div class="d-flex justify-content-between mb-4">
        <a asp-action="Create" class="btn btn-success">Create New</a>
        <select id="myComboBox">
            <option value="TenNhanVien">Tên Nhân Viên</option>
            <option value="LoaiNhanVien">Loại Nhân Viên</option>
             <option value="TenNhanVienQuanLy">Nhân Viên Quản Lí</option>
        </select>
        <div>
        <a class="btn btn-success" onclick="console.log(getSearchText())"> Search</a>
        <input type="text" id="search-input" placeholder="Tìm Kiếm Nhân Viên">
        </div>
    </div>

<div class="row justify-content-center">
	<div class="col-lg-10">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tên Nhân Viên</th>
					<th>Số Điện Thoại</th>
					<th>Địa Chỉ</th>
					<th>Ca làm việc</th>
					<th>Loại Nhân Viên</th>
					<th>Người Quản Lý</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="text-center">@item.TenNhanVien </td>
						<td class="text-center">@item.Sdt</td>
						<td class="text-center">@item.DiaChi</td>
						@if (item.Ca != null)
						{
							<td class="text-center">@item.Ca.TenCa</td>
						}
						else
						{
							<td class="text-center"></td>
						}
						
						@if (item.LoaiNvNavigation != null)
						{
							<td class="text-center">@item.LoaiNvNavigation.TenLoai</td>
						}
						else
						{
							<td class="text-center"></td>
						}
						@if (item.NhanVienQlNavigation != null)
						{
							<td class="text-center">@item.NhanVienQlNavigation.TenNhanVien</td>
						}
						else
						{
							<td class="text-center"></td>
						}
						<td>
							<div class="d-flex justify-content-center">
								<a asp-action="Edit" asp-route-id="@item.NhanVienId" class="btn btn-sm btn-warning ">Edit</a>
								<a asp-action="Details" asp-route-id="@item.NhanVienId" class="btn btn-sm btn-primary mx-2">Details</a>
								<a asp-action="Delete" asp-route-id="@item.NhanVienId" class="btn btn-sm btn-danger">Delete</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
