@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<PBL3.Models.DatHang>
@{
	ViewData["Title"] = "Danh sách đơn đặt hàng";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
	<div class="header-sub-title">
		<nav class="breadcrumb breadcrumb-dash">
			<a asp-area="Admin" asp-controller="Home" asp-action="index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
			<a class="breadcrumb-item" asp-area="Admin" asp-controller="DonHangs" asp-action="Index">Quản lí đơn đặt hàng</a>
			<span class="breadcrumb-item active">Danh sách đơn đặt hàng</span>
		</nav>
	</div>
</div>
<div class="card">
	<div class="card-header">
		<h4 class="card-title">@ViewBag.OrderTitle</h4>
	</div>
	<div class="card-body">
		<div class="row m-b-30">
			<div class="col-lg-4">
				<form method="get" asp-action="index" class="d-md-flex">
					<div class="input-affix m-b-10 m-r-15">
						<input type="date" step="1 day" class="form-control" value="@ViewBag.CurrentSearch" name="search">
					</div>
					<div class="m-b-10">
						<input type="submit" value="Tìm kiếm" class="btn btn-info btn-tone" />
					</div>
				</form>
			</div>
			<div class="col-lg-4 text-right">
				<a asp-area="Admin" asp-controller="DatHangs" asp-action="Create" class="btn btn-primary">
					<i class="anticon anticon-plus-circle m-r-5"></i>
					<span>Thêm đơn đặt hàng</span>
				</a>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-hover e-commerce-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Ngày đặt hàng</th>
						<th>Ghi chú</th>
						<th>Tình trạng xác nhận</th>
						<th>Nhân viên đặt</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								<a asp-action="Details" asp-route-id="@item.DathangId">#@item.DathangId</a>
							</td>
							<td>@item.NgayDat.Value.ToString("yyyy-MM-dd HH:mm") </td>
							<td>@item.GhiChu</td>
							<td>
								@if (item.TinhTrangXacNhan != true)
								{
									<div class="d-flex align-items-center">
										<div class="badge badge-danger badge-dot m-r-10"></div>
										<div>Chưa xác nhận</div>
									</div>
								}
								else
								{
									<div class="d-flex align-items-center">
										<div class="badge badge-success badge-dot m-r-10"></div>
										<div>Đã xác nhận</div>
									</div>
								}
							</td>
							@if (item.NhanVien != null)
							{
								<td>@item.NhanVien.TenNhanVien</td>
							}
							else
							{
								<td></td>
							}
							<td class="text-right">
								<a asp-action="Delete" asp-route-id="@item.DathangId" class="btn btn-icon btn-hover btn-sm btn-rounded">
									<i class="anticon anticon-delete"></i>
								</a>
							</td>

						</tr>
					}
				</tbody>
			</table>
			<div>
				<pager class="page-container" list="@Model" asp-area="Admin" asp-controller="DonHangs" asp-action="Index"></pager>
			</div>
		</div>
	</div>
</div>



